<div class="position-relative mt-4 food-details w-100 p-3">
  <div class="d-flex flex-column gap-2 mt-3">
    <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#food-details-modal" },
          class: "btn btn-dark d-flex align-items-center justify-content-center rounded-circle position-absolute",
          style: "width: 40px; height: 40px; top: -10px; right: -10px;" do %>
      <i class="fa-solid fa-info" style="color: white;"></i>
    <% end %>
      <%= food.name %>
    </h2>
    <div id="star_<%= scan.id %>">
      <%= render partial: "scans/star", locals: { scan: scan, favorite: scan.user.favorited?(scan) } %>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-2">
    <p class="text-muted" style="font-size: 1rem;">Nutrition Values</p>
    <p class="fw-bold" style="font-size: 1rem;"><%= food.calories %> Kcal</p>
  </div>
  <div class="d-flex flex-wrap gap-2 mt-3">
    <% if user.vegetarian %>
      <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
        <i class="fa-solid fa-seedling me-2" style="color: green;"></i>
        Vegetarian
        <% if food.vegetarian %>
          <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
        <% else %>
          <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.vegan %>
      <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
        <i class="fa-solid fa-leaf me-2" style="color: green;"></i>
        Vegan
        <% if food.vegan %>
          <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
        <% else %>
          <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.keto %>
      <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
        <i class="fa-solid fa-bacon me-2" style="color: purple;"></i>
        Keto
        <% if food.keto %>
          <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
        <% else %>
          <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.gluten %>
      <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
        <i class="fa-solid fa-bread-slice me-2" style="color: orange;"></i>
        Gluten-Free
        <% if food.gluten %>
          <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
        <% else %>
          <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.pork %>
      <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
        <i class="fa-solid fa-piggy-bank me-2" style="color: pink;"></i>
        Pork
        <% if food.pork %>
          <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
        <% else %>
          <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
        <% end %>
      </span>
    <% end %>

  <% if user.beef %>
    <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
      <i class="fa-solid fa-steak me-2" style="color: brown;"></i>
      Beef
      <% if food.beef %>
        <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
      <% else %>
        <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
      <% end %>
    </span>
  <% end %>

  <% if user.lactose %>
    <span class="badge bg-light text-dark border rounded-pill p-2 d-flex align-items-center">
      <i class="fa-duotone fa-solid fa-cheese-swiss me-2" style="color: yellow;"></i>
      Lactose-Free
      <% if food.lactose %>
        <i class="fa-regular fa-thumbs-down ms-2" style="color: red;"></i>
      <% else %>
        <i class="fa-regular fa-thumbs-up ms-2" style="color: green;"></i>
      <% end %>
    </span>
  <% end %>

  <% if (user.common_allergens & food.common_allergens).any? %>
  </div>
  <div class="mt-4 w-100">
    <div class="d-flex align-items-center mb-3 p-2 border rounded" style="background-color: #F8F8F8;">
      <div class="d-flex align-items-center justify-content-center rounded-circle p-2 me-2" style="width: 40px; height: 40px; background-color: white; border: 1px solid #ddd;">
        <i class="fa-solid fa-dumbbell" style="color: green;"></i>
      </div>
      <p class="mb-0">Protein: <%= food.protein %>g</p>
    </div>
    <div class="d-flex align-items-center mb-3 p-2 border rounded" style="background-color: #F8F8F8;">
      <div class="d-flex align-items-center justify-content-center rounded-circle p-2 me-2" style="width: 40px; height: 40px; background-color: white; border: 1px solid #ddd;">
        <i class="fa-solid fa-wheat-awn" style="color: orange;"></i>
      </div>
      <p class="mb-0">Carbs: <%= food.carbohydrates %>g</p>
    </div>
    <div class="d-flex align-items-center mb-3 p-2 border rounded" style="background-color: #F8F8F8;">
      <div class="d-flex align-items-center justify-content-center rounded-circle p-2 me-2" style="width: 40px; height: 40px; background-color: white; border: 1px solid #ddd;">
        <i class="fa-solid fa-bacon" style="color: purple;"></i>
      </div>
      <p class="mb-0">Fat: <%= food.fat %>g</p>
    </div>
  </div>
  <div class="d-flex flex-column gap-2 mt-3">
    <%= link_to "Add to intake", new_scan_portion_path(scan), class: "btn btn-dark"%>
  </div>
  <div class="modal fade" id="food-details-modal" tabindex="-1" aria-labelledby="foodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodModalLabel"><%= food.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Ingredients:</h6>
          <p><%= food.other_ingredients %></p>
        </div>
      </div>
    </div>
  </div>
</div>
