<div class="cards-container">
  <h1 class="text-center fw-bold my-4">Favorites</h1>
  <% if @favorited_scans.any? %>
    <% @favorited_scans.each do |scan| %>
      <div class="card">
        <%= image_tag cl_image_path(scan.photo.key), alt: scan.food.name, class: "card-image" %>

        <div class="card-content">
          <h3 class="food-name"><%= scan.food.name %></h3>
          <p class="food-calories"><%= scan.food.calories %> Kcal</p>
        </div>

        <!-- Star Partial (Favorite Icon) -->
        <div class="favorite-icon">
          <%= render partial: "scans/star", locals: { scan: scan, favorite: scan.user.favorited?(scan) } %>
        </div>

        <%= link_to "", scan_path(scan), class: "card-link" %>
      </div>
    <% end %>
  <% end %>
</div>
