<div class="container m-2">
  <h1 class="text-center">Hello, <%= @user.first_name %></h1>
  <div class="mt-4">
    <h2 class="fs-5 font-weight-bold">Today</h2>
    <div class="chart">
      <%= pie_chart (@total_nutrition), donut: true %>
      <div class="macro-group">
        <p class="fs-4">Protein: <%= @total_nutrition[:protein] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: <%= @total_nutrition[:protein] %>%" aria-valuenow="<%= @total_nutrition[:fat] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="macro-group">
        <p class="fs-4">Fat: <%= @total_nutrition[:fat] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: <%= @total_nutrition[:fat] %>%" aria-valuenow="<%= @total_nutrition[:fat] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="macro-group">
        <p class="fs-4">Carbs: <%= @total_nutrition[:carbohydrates] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= @total_nutrition[:carbohydrates] %>%" aria-valuenow="<%= @total_nutrition[:carbohydrates] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
