<main class="container d-flex flex-column align-items-center px-3">
  <div class="btn-group" data-controller="tab-switch" role="group" aria-label="Basic radio toggle button group">
    <%= link_to "Yesterday", dashboard_path(tab: "yesterday"), class: "#{"active" if @tab == "yesterday"} btn btn-outline-primary" , data: { action: "click->tabSwitch#show", tab_switcher_target: "tab" } %>
    <%= link_to "Today", dashboard_path(tab: "today"), class: "#{"active" if @tab == "today" || @tab.nil? } btn btn-outline-primary", data: { action: "click->tabSwitch#show", tab_switcher_target: "tab" } %>
    <%= link_to "This week", dashboard_path(tab: "this_week"), class: "#{"active" if @tab == "this_week"} btn btn-outline-primary", data: { action: "click->tabSwitch#show", tab_switcher_target: "tab" } %>
  </div>
  <div data-tab-switcher-target="section">
    <div class="chart-container mt-5 position-relative">
      <% if @tab == "this_week" %>
        <%= column_chart [
                { name: 'Carbohydrates', data: @daily_nutrition[:carbohydrates] },
                { name: 'Fat', data: @daily_nutrition[:fat] },
                { name: 'Protein', data: @daily_nutrition[:protein] }
              ],
              labels: @week_days.map { |day| day.strftime("%b %d") },
              stacked: true,
              colors: ['#fd7e14', '#17a2b8', '#16a34a'],
              chart_type: "column",
              title: "Calories",
              legend: {
                display: false
              },
              library: {
                scales: {
                  x: {
                    ticks: {
                      autoSkip: true,
                      maxRotation: 45,
                      minRotation: 45
                    }
                  },
                  y: {
                    ticks: {
                      font: { size: 10 }
                    },
                    beginAtZero: true,
                    max: @user.calories * 1.2
                  }
                },
                plugins: {
                  annotation: {
                    annotations: {
                      line1: {
                        type: 'line',
                        yMin: 2500,
                        yMax: 2500,
                        borderColor: 'red',
                        borderWidth: 2,
                        label: {
                          content: 'Calorie Goal',
                          enabled: true,
                          position: 'start',
                          backgroundColor: 'red',
                          color: 'white',
                          padding: 4
                        }
                      }
                    }
                  }
                }
              }
            %>
      </div>
      <div class="macro-group">
        <div class='d-flex justify-content-between'>
          <p class="fs-6 fw-semibold">Protein</p>
          <p class="fs-6 text-secondary"><%= @total_nutrition[:protein] / 4 %> / <%= @user.protein * 7 %>g</p>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                role="progressbar"
                style="width: <%= @total_nutrition[:protein] / (@user.protein  * 4 * 7) * 100 %>%"
                aria-valuenow=""
                aria-valuemin="0"
                aria-valuemax="<%= @user.protein * 7 %>">
          </div>
        </div>
      </div>
      <div class="macro-group">
        <div class='d-flex justify-content-between'>
          <p class="fs-6 fw-semibold">Fat</p>
          <p class="fs-6 text-secondary"><%= @total_nutrition[:fat] / 9 %> / <%= @user.fat * 7 %>g</p>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                role="progressbar"
                style="width: <%= @total_nutrition[:fat] / (@user.fat * 9 * 7) * 100 %>%"
                aria-valuenow="<%= @total_nutrition[:fat] %>"
                aria-valuemin="0"
                aria-valuemax="<%= @user.fat * 7 %>">
          </div>
        </div>
      </div>
      <div class="macro-group">
        <div class='d-flex justify-content-between'>
          <p class="fs-6 fw-semibold">Carbs</p>
          <p class="fs-6 text-secondary"><%= @total_nutrition[:carbohydrates] / 4 %> / <%= @user.carbohydrates * 7 %>g</p>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                role="progressbar"
                style="width: <%= @total_nutrition[:carbohydrates] / (@user.carbohydrates * 4 * 7) * 100 %>%">
          </div>
        </div>
      </div>
    <% else %>
      <%= pie_chart (@total_nutrition),
              donut: true,
              colors: ['#16a34a', '#17a2b8', '#fd7e14', '#cbd5e1'],
              library: {
                cutout: '85%',
                segmentShowStroke: false,
                plugins: {
                  legend: {
                    display: false,
                    position: 'right',
                    labels: {
                      font: {
                        size: 14
                      },
                      color: '#333'
                    }
                  }
                }
              }
            %>
      <div class="chart-text fw-semibold d-flex flex-column" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; color: black;">
        <div class="fs-1"><%= @total_cal %></div>
        <div class="text-secondary align-self-center">/<%= @user.calories || 0 %> kcal</div>
      </div>
    </div>
    <div class="macro-group mt-4 px-3">
      <div class='d-flex justify-content-between'>
        <p class="fs-6 fw-semibold">Protein</p>
        <p class="fs-6 text-secondary"><%= @total_nutrition[:protein] / 4 %> / <%= @user.protein %>g</p>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                  role="progressbar"
                  style="width: <%= @total_nutrition[:protein] / (@user.protein * 4) * 100 %>%"
                  aria-valuenow="<%= @total_nutrition[:protein] %>"
                  aria-valuemin="0"
                  aria-valuemax="<%= @user.protein %>">
        </div>
      </div>
    </div>
    <div class="macro-group px-3">
      <div class='d-flex justify-content-between'>
        <p class="fs-6 fw-semibold">Fat</p>
        <p class="fs-6 text-secondary"><%= @total_nutrition[:fat] / 9 %> / <%= @user.fat %>g</p>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                  role="progressbar"
                  style="width: <%= @total_nutrition[:fat] / (@user.fat * 9) * 100 %>%">
        </div>
      </div>
    </div>
    <div class="macro-group px-3">
      <div class='d-flex justify-content-between'>
        <p class="fs-6 fw-semibold">Carbs</p>
        <p class="fs-6 text-secondary"><%= @total_nutrition[:carbohydrates] / 4 %> / <%= @user.carbohydrates %>g</p>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                  role="progressbar"
                  style="width: <%= @total_nutrition[:carbohydrates] / (@user.carbohydrates * 4) * 100 %>%">
        </div>
      </div>
    </div>
  <% end %>
</div>
<h2 class="mt-5">Recent Scans</h2>
<div class="cards-container">
  <div class="row g-4 justify-content-center">
    <% @user.scans.order(created_at: :desc).limit(3).each do |scan| %>
      <div class="card-product d-flex align-item-center">
        <%= link_to "", scan_path(scan) %>
        <div class="img">
          <%= cl_image_tag scan.photo.key,
                  alt: "Scan Image" %>
        </div>
        <% if scan.food %>
          <div class="card-product-infos">
            <h6 class="fw-bold mb-1 text-truncate"><%= scan.food.name %></h6>
            <p class="text-muted small mb-1">🔥 <strong><%= scan.food.calories %></strong> kcal</p>
            <p class="text-muted small">🥩 <%= scan.food.protein %>g | 🍞 <%= scan.food.carbohydrates %>g | 🥑 <%= scan.food.fat %>g</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
