<div class="container m-2">
  <h1 class="text-center">Hello, <%= @user.first_name %></h1>
  <div class="mt-4">
    <h2 class="fs-5 font-weight-bold text-center">Today</h2>
    <div class="chart" data-calories="<%= @total_cal %>">
      <%= pie_chart (@total_nutrition),
        donut: true,
        library: {
          cutout: '75%',
          plugins: {
            legend: {
              position: 'right',
              labels: {
                font: {
                  size: 14
                },
                color: '#333'
              }
            },
            beforeDraw: lambda do |chart|
              const ctx = chart.ctx;
              const width = chart.width;
              const height = chart.height;
              const fontSize = height / 10;

              const calories = chart.canvas.parentNode.dataset.calories;
              const text = 'Calories: ${calories} kcal';

              ctx.restore();
              ctx.font = "#{fontSize}px Arial";
              ctx.textBaseline = 'middle';
              ctx.textAlign = 'center';
              ctx.fillStyle = '#000';

              ctx.fillText(text, width / 2, height / 2);
              ctx.save();
            end
          }
        } %>
      <div class="macro-group">
        <p class="fs-4">Protein: <%= @total_nutrition[:protein] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: <%= @total_nutrition[:protein] %>%" aria-valuenow="<%= @total_nutrition[:fat] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="macro-group">
        <p class="fs-4">Fat: <%= @total_nutrition[:fat] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: <%= @total_nutrition[:fat] %>%" aria-valuenow="<%= @total_nutrition[:fat] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="macro-group">
        <p class="fs-4">Carbs: <%= @total_nutrition[:carbohydrates] %>g</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= @total_nutrition[:carbohydrates] %>%" aria-valuenow="<%= @total_nutrition[:carbohydrates] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
