<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center">Hello, <%= @user.first_name %></h1>
  <div class="mt-4">
    <h2 class="fs-5 font-weight-bold text-center">Today</h2>
    <div class="chart-container" style="position: relative;">
      <%= pie_chart (@total_nutrition),
        donut: true,
        library: {
          cutout: '75%',
          plugins: {
            legend: {
              display: false,
              position: 'right',
              labels: {
                font: {
                  size: 14
                },
                color: '#333'
              }
            }
          }
        }
      %>
      <div class="chart-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; color: black;">
        <%= @total_cal %> kcal /
        <%= @user.calories %> kcal
      </div>
    </div>

    <div class="macro-group">
    <div class='d-flex justify-content-between'>
      <p class="fs-4">Protein</p>
      <p class="fs-4"><%= @total_nutrition[:protein] %>g / <%= @user.protein %>g</p>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: <%= @total_nutrition[:protein] %>%" aria-valuenow="<%= @total_nutrition[:protein] %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="macro-group">
    <div class='d-flex justify-content-between'>
      <p class="fs-4">Fat</p>
      <p class="fs-4"><%= @total_nutrition[:fat] %>g / <%= @user.fat %>g</p>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: <%= @total_nutrition[:fat] %>%" aria-valuenow="<%= @total_nutrition[:fat] %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="macro-group">
    <div class='d-flex justify-content-between'>
      <p class="fs-4">Carbs</p>
      <p class="fs-4"><%= @total_nutrition[:carbohydrates] %>g / <%= @user.carbohydrates %>g</p>
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: <%= @total_nutrition[:carbohydrates] %>%" aria-valuenow="<%= @total_nutrition[:carbohydrates] %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

  </div>
</div>
