<div class= "food-container">
  <div class=food-label>
    <%= @scan.photo.attached? ? cl_image_tag(@scan.photo.key) : "" %>
  </div>

  <div class="food-details">
    <h2><%= @food.name %></h2>
    <p><%= @food.calories %></p>
    <p><%= @food.protein %></p>
    <p><%= @food.carbohydrates %></p>
    <p><%= @food.fat %></p>

    <h2>Dietary Information</h2>
    <ul>
      <% if @user.vegetarian %>
        <li>Vegetarian: <%= @food.vegetarian ? "yes" : "no" %></li>
      <% end %>

      <% if @user.vegan %>
        <li>Vegan: <%= @food.vegan ? "yes" : "no" %></li>
      <% end %>

      <% if @user.keto %>
        <li>Keto: <%= @food.keto ? "yes" : "no" %></li>
      <% end %>

      <% if @user.pork %>
        <li>Pork-Free: <%= @food.pork ? "yes" : "no" %></li>
      <% end %>

      <% if @user.beef %>
        <li>Beef-Free: <%= @food.beef ? "yes" : "no" %></li>
      <% end %>

      <% if @user.gluten %>
        <li>Gluten-Free: <%= @food.gluten ? "yes" : "no" %></li>
      <% end %>

      <% if @user.lactose %>
        <li>Lactose-Free: <%= @food.lactose ? "yes" : "no" %></li>
      <% end %>
    </ul>

  </div>

  <div class="nutrition-chart">
  </div>

  <%= link_to "see more", food_path(@food) %>
  <% if current_user.favorited?(@food) %>
    <%= link_to unfavorite_path(@food) do %>
    <i class="fa-solid fa-star"></i>
    <% end %>
  <% else %>
    <%= link_to favorite_path(@food) do %>
    <i class="fa-regular fa-star"></i>
    <% end %>
  <% end %>

</div>
