<div class="food-container">
  <div class="food-label">
    <%#= @scan.photo.attached? ? cl_image_tag(@scan.photo.key) : "" %>
  </div>
  <div class="food-details">
    <h2><%= @food.name %></h2>
    <p>Clories: <%= @food.calories %>kcal</p>
    <ul>
      <% if @user.vegetarian %>
        <li>Vegetarian:
          <% if @food.vegetarian %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.vegan %>
        <li>Vegan:
          <% if @food.vegan %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.keto %>
        <li>Keto:
          <% if @food.keto %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.pork %>
        <li>Pork-Free:
          <% if @food.pork %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.beef %>
        <li>Beef-Free:
          <% if @food.beef %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.gluten %>
        <li>Gluten-Free:
          <% if @food.gluten %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.lactose %>
        <li>Lactose-Free:
          <% if @food.lactose %>
            <i class="fa-regular fa-thumbs-up"></i>
          <% else %>
            <i class="fa-regular fa-thumbs-down"></i>
          <% end %>
        </li>
      <% end %>
      <% if @food.high_fat? %>
        <li>High in fat <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
      <% if @food.high_protein? %>
        <li>High in protein <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
      <% if @food.high_carbohydrates? %>
        <li>High in carbohydrates <i class="fa-solid fa-exclamation"></i></li>
      <% end %>
    </ul>
  </div>

<%= link_to "See More", "#", data: { bs_toggle: "modal", bs_target: "#food-details-modal" } %>


<div class="modal fade" id="food-details-modal" tabindex="-1" aria-labelledby="foodModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="foodModalLabel"><%= @food.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Ingredients:</h6>
        <p><%= @food.other_ingredients %></p>

        <h6>deatils:</h6>
        <div id="nutrition-chart">
          <%= pie_chart(@nutrition, donut: true) %>
          <p>Protein: <%= @food.protein %>g</p>
          <p>Carbohydrates: <%= @food.carbohydrates %>g</p>
          <p>Fat: <%= @food.fat %>g</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user.favorited?(@food) %>
    <%= form_with url: unfavorite_path(@food), method: "delete" do %>
      <button><i class="fa-solid fa-star"></i></button>
    <% end %>
  <% else %>
    <%= form_with url: favorite_path(@food) do %>
      <button><i class="fa-regular fa-star"></i></button>
    <% end %>
  <% end %>

</div>
